# The directory Mix will write compiled artifacts to.
/dll_loader_helper/_build/
/dll_loader_helper_beam/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump
rebar3.crashdump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
dll_loader_helper-*.tar

# checksum.exs
checksum.exs

# Temporary files, for example, from tests.
/tmp/
.DS_Store
.idea/
.vscode/
*.obj

# CMake Build Directory
/dll_loader_helper_beam/build/

# priv dir
/dll_loader_helper_beam/priv/

# .beam files
/dll_loader_helper_beam/*.beam

# checksum
/dll_loader_helper_beam/checksum.erl
/dll_loader_helper_beam/checksum.beam
