name: linux-noop

on:
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'Makefile.win'
      - '.github/workflow/macos.yml'
  push:
    branches:
      - main
      - 'test-*'
    paths-ignore:
      - 'README.md'
      - 'Makefile.win'
      - '.github/workflow/macos.yml'

jobs:
  mix_test:
    runs-on: ubuntu-latest
    env:
      MIX_ENV: test

    steps:
      - uses: actions/checkout@v3

      - uses: erlef/setup-beam@v1
        with:
          otp-version: 25.1
          elixir-version: 1.14.2

      - name: Mix Compile
        run: |
          mix deps.get
          mix compile

      - name: Mix Test
        run: |
          mix test

      - name: Test the Elixir example
        run: |
          cd example/elixir
          rm -rf _build build build_so
          mix deps.get
          mix test
