name: windows-precompile

on:
  pull_request:
    paths-ignore:
      - '**/*.md'
      - '**/Makefile.win'
      - '.github/workflows/macos.yml'
      - '.github/workflows/windows.yml'
      - '.github/workflows/linux.yml'
  push:
    tags:
      - 'v*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  precompile:
    if: "!contains(github.event.pull_request.labels.*.name, 'skip ci')"
    runs-on: windows-latest
    env:
      MIX_ENV: prod
      CC_PRECOMPILER_PRECOMPILE_ONLY_LOCAL: "true"
    strategy:
      fail-fast: false
      matrix:
        include:
          - pair:
              msbuild_platform: ARM64
              vcvarsall: amd64_arm64
              otp_version: "25"
              elixir_version: "1.15"
              CMAKE_GENERATOR_TYPE: "Visual Studio 17"
              CMAKE_TOOLCHAIN_FILE: "cc_toolchain/aarch64-windows-msvc.cmake"
          - pair:
              msbuild_platform: x64
              vcvarsall: x64
              otp_version: "25"
              elixir_version: "1.15"
          - pair:
              msbuild_platform: ARM64
              vcvarsall: amd64_arm64
              otp_version: "26"
              elixir_version: "1.15"
              CMAKE_GENERATOR_TYPE: "Visual Studio 17"
              CMAKE_TOOLCHAIN_FILE: "cc_toolchain/aarch64-windows-msvc.cmake"
          - pair:
              msbuild_platform: x64
              vcvarsall: x64
              otp_version: "26"
              elixir_version: "1.15"

    steps:
      - uses: actions/checkout@v3

      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ matrix.pair.otp_version }}
          elixir-version: ${{ matrix.pair.elixir_version }}

      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ matrix.pair.vcvarsall }}

      - name: Precompile
        shell: bash
        run: |
          export ELIXIR_MAKE_CACHE_DIR=$(pwd)/cache
          mkdir -p "${ELIXIR_MAKE_CACHE_DIR}"

          if [ "${{ matrix.pair.vcvarsall }}" = "amd64_arm64" ]; then
            export CMAKE_GENERATOR_TYPE="${{ matrix.pair.CMAKE_GENERATOR_TYPE }}"
            export MSBUILD_PLATFORM="${{ matrix.pair.msbuild_platform }}"
            export CMAKE_TOOLCHAIN_FILE="$(pwd)/${{ matrix.pair.cmake_toolchain_file }}"
            export TARGET_ARCH=aarch64
            export TARGET_OS=windows
            export TARGET_ABI=msvc
          fi

          mix deps.get
          mix elixir_make.precompile

      - uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            cache/*.tar.gz
